<%= stylesheet_link_tag "rooms" %>

<div class="container-fiuld room-posts">
  <h4 class="pb-4">登録済みルーム一覧</h4>

  <table>

    <thead>
      <tr align="center">
        <th>ルーム画像</th>
        <th>ルーム名</th>
        <th>ルーム紹介</th>
        <th>料金</th>
        <th>作成日</th>
      </tr>
    </thead>

    <tbody>
      
      <% if @rooms.blank? %>
        <tr>
          <td colspan="7"><h1>表示できるルームはありません。</h1></td>
        </tr>
      <% end %>

      <% @rooms.each do |room| %>

        <tr>

          <td>
            <%= link_to room_path(room.id) do %>
              <% if room.room_image.attached? %>
                <%= image_tag room.room_image, class: "room-posts-image" %>
              <% else %>
                <%= image_tag "no_image.jpg", class: "room-posts-image" %>
              <% end %>
            <% end %>
          </td>

          <td class="posts-name">
            <%= link_to room_path(room.id) do %>
              <%= room.room_title %>
            <% end %>
          </td>

          <td class="posts-content"><%= room.room_body %></td>
          <td class="price-icon"><%= room.price %></td>
          <td><%= room.created_at %></td>

        </tr>

      <% end %>

    </tbody>

  </table>

</div>